<m<mat-card><mat-card-title></mat-card-title><mat-card-content></mat-card-content><<mat-selection-list role="list"><mat-list-option role="listitem" *ngFor="let item of products$ | async">{{item}}</mat-list-option></mat-selection-list><mat-selection-list role="list"><mat-list-option role="listitem" *ngFor="let item of products$ | async">{{item}}</mat-list-option></mat<mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>-selection-list>/mat-card>at-list role="list"><mat-list-item role="listitem" *ngFor="let item of products$ | async">{{item}}</mat-list-item></mat-list>